<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>cats</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container text-center">
      <h1 class="display-1 lead">Random Cat</h1>

      <img src="{{cats.url}}" width="{{cats.width}}" height="{{cats.height}}" />
      <div class="col-lg-6 mx-auto my-3">
        <a href="/" target="_self" class="btn btn-outline-success">next cat </a>
      </div>
    </div>
  </body>
</html>
